services:
  insight:
    pull_policy: always
    build: .
    image: aleixmt/insight:latest
    container_name: insight
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - MODE=host
      - XVFB_DISPLAY=:99
      - GEOMETRY=1024x768x24
      - VNC_PORT=5900
      - ROM=/roms/rom.elf
      #- ROM=/roms/rom.elf  # To supply the ELF ROM to load. If not, the first .elf file found in /roms will be executed
      #- VNC_PASSWORD=secret
    volumes:
      # Map the project code you want to debug here
      - .:/roms
      # X11 Socket
      - /tmp/.X11-unix:/tmp/.X11-unix
      # X11 Authority (for permissions)
      - /tmp/.docker.xauth:/tmp/.docker.xauth
    working_dir: /roms
